*{
  margin-left: 15%;
}

.btn{
  padding: 10px;
  background-color: rgb(220, 201, 237);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  margin: 10px;

}


.btn:hover{
  background-color: rgb(250, 240, 255);
}

.active{
  background-color: rgb(250, 240, 255);
}
